[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Terminator
Icon=terminator
Exec=/usr/bin/python /usr/bin/terminator
StartupNotify=false
StartupWMClass=Terminator
OnlyShowIn=Unity;
X-BAMFGenerated=true
