[Desktop Entry]
Name=Valentina Studio
Comment=Valentina Studio
Exec=/opt/VStudio/vstudio
Icon=/opt/VStudio/Resources/vstudio.png
Terminal=false
MimeType=application/iml
#Type: Application, Link, Directory
Type=Application
Categories=Developer
Encoding=UTF-8

